# Gitignore settings for ESPHome
# This is an example and may include too much for your use-case.
# You can modify this file to suit your needs.
/.esphome/
/secrets.yaml
/nodered-backup/
/test/build/
__pycache__/
# Microsoft Verdana may not be redistributed, see README
/Fonts/Verdana*.ttf
# Third-party templates without a license to redistribute
/weatherman.yaml
/epd7in5_V2_demo_copy_*/
